@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo {
    font-family: 'Grand Hotel', cursive;
}

.mycard{
    margin-top: 30px;
}
.link-account{
    margin-top: 20px;
}

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;

}